PORT=3000
SUPABASE_URL=https://eyddlggkvlygecmhdnor.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_G-jxJe2MKPGiYuKi2VBOuQ_p72xhh21
NEXT_PUBLIC_SUPABASE_URL=https://eyddlggkvlygecmhdnor.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_G-jxJe2MKPGiYuKi2VBOuQ_p72xhh21
APP_SECRET=classicfade-local-secret-2026

ADMIN_IDENTIFIER=DOLA-ADMIN
ADMIN_EMAIL=dolapade747@gmail.com
ADMIN_PASSWORD=Hush3838!
